$_width-items: 90;
.product {
  border: $base-border;
  padding: rem-calc(10);
  margin-bottom: rem-calc(20);

  @include breakpoint(large){
    padding: rem-calc(20);
  }
  @include breakpoint(xxlarge){
    padding: rem-calc(40);
  }

  &__figure{
    text-align: center;
    &__image {
      padding: rem-calc(20);
    }
  }

  &__title {
    font-size: rem-calc(18);
    font-family: $heading-font-family;
    margin: rem-calc(10) 0;
  }
  &__price {
    &__discount,
    &__real {
      display: inline-block;
      width: 40%;
      font-size: rem-calc(14);
      font-weight: 600;
      color: $light-blue;
    }
    &__discount {
      color: $blue;
    }
    &__real {
      &--has-discount {
        text-decoration: line-through;
      }
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__items,
    &__submit {
      background-color: $button-grey;
      display: inline;
    }
    &__items {
      border: $base-border;
      border-radius: rem-calc(30);
      justify-content: center;
      vertical-align: middle;
      width: rem-calc(90);
      &__button,
      &__input {
        height: rem-calc(35);
        display: inline;
        font-size: rem-calc(14);
        background-color: transparent;
        text-align: center;
        padding: 0;
      }

      &__button {
        border: none;
        width: rem-calc(25);
        padding: 0;
      }
      &__input {
        width: rem-calc(35);
        text-align: center;
        padding: 0;
        border: none;
      }
    }
    &__submit {
      width: rem-calc(115);
      border: $base-border;
      border-radius: rem-calc(40);
      background-color: $blue;
      color: $white;
      &__add{
        margin-right: rem-calc(2);
      }

    }
  }
}
// .product{
//   &__header, &__main{
//     display: block;
//     @include breakpoint(medium){
//       display: inline-block;
//       width: 50%;
//     }

//   }
// }
