$_width-items: 90;
.product {
  border: $base-border;
  padding: rem-calc(10);
  margin-bottom: rem-calc(30);
  transition: all 0.5s ease;
  @include breakpoint(large) {
    padding: rem-calc(20);
  }
  @include breakpoint(xxlarge) {
    padding: rem-calc(40);
  }
  &__small {
    width: 100%;
  }
  @import 'header';
  @import 'main';

}
