.header {
  background-color: $blue;
  display: table;
  width: 100%;
  height: rem-calc(80);

  &__logo,
  &__nav,
  &__right-menu {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: $white;
  }

  &__logo {
    width: 20%;
    font-weight: 900;
    font-style: italic;
    font-size: rem-calc(24);
  }

  &__nav {
    width: 60%;
    font-size: rem-calc(12);
    text-transform: uppercase;

    @include mobile-tablet {
      display: none;
    }
  }

  &__right-menu {
    width: 20%;

    &__basket,
    &__search {
      padding: 0 rem-calc(15);
      fill: $white;
    }

    &__search {
      width: rem-calc(40);
      height: rem-calc(40);
    }
    @import 'basket';
  }
}
