$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);
button {
    background: transparent;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $_button-background-color-hover;
        color: contrast-switch($_button-background-color-hover);
    }
    &:focus {
        outline: $focus-outline;
        outline-offset: $focus-outline-offset;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:hover {
            background-color: $_button-background-color;
        }
    }
}
